body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  font-size: 14px;
  background-color: var(--white);
  box-sizing: border-box;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }