:root {
    --black: #212121;
    --white: #ffffff;
    --gray: #757575;
    --background: #2f303a;
    --background-light: #f5f4fa;
    --blue-brand: #2196f3;
    --logo-black: #000000;
    --border: #eeeeee;
    --logo-gray: #AFB1B8;
    --black-transparent: rgba(33, 33, 33, 0.2);
  
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-timing: 250ms;
  }